header {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: teal;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#password-box {
    background-color: white;
    border: lightgrey dashed 1px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

button {
background-color: red;
border-radius: 10px;
color: white;
justify-content: center;
}

button:hover {
 background-color: black;   
}